{% extends 'home/base.html' %}
{% load static %}
{% block content %}

        <div class="background">
          <div class="container-fluid">
            <div class="row"> 
              <div class="row col-12 desc px-3 mx-auto center">
                <div id="zoois">
                    <p class="px-3 mx-auto text-center bout"><b>ABOUT US</b></p>
                    <p><b> In June 2018, I started a website called Jungle Mouse which was originally intended to house stories for children, continuing the tradition of my grandfather who created the character of Jungle Mouse. That aspect of the site never came to fruition, but the animal photos I posted got me interested in animals, photography, and environmental education.

                        In December 2018, I renamed Jungle Mouse to Zoo to more accurately describe the site's focus. All of the photos on TOZ are original. Most were taken by me, but about five percent were taken by family and friends. A very small percentage of these photos may exist on other web sites, but most are only available here. If you are interested in using any of our photos, please see this page.
                        
                        This site generates no revenue and has no ads. On-line safety is important to me, and you can be sure that everything here is kid-safe. If you have any suggestions or comments, please e-mail me.
                        <br/>
                        Pajar Olivia<br/>
                        Indonesia, Malang<br/>
                        po@zoo.com
                    </p>
                </div>      
            </div>
        </div>
      </div>
      </div>
{% endblock %}  