.background {
    background: gray url(../images/wallpaper.jpg) repeat 0 0;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    -webkit-animation: slide 30s linear infinite;
    width: 100%;
    margin: 0%;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-blend-mode: screen;
}

.small {
    font-size: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.akhir {
    background-color: rgb(241, 236, 236);
    font-size: 20px;
    display: inline-block;
}

.links:link, a:visited {
    background-color: #f44336;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
.links:hover, a:active {
    background-color: red;
}
.dropdown-item {
    color: black;
}
.fun {
    color: rgb(10, 75, 97);
    font-size: 25px;
}
.instagram-media {
    box-sizing:border-box;
    padding: 10px;
    margin-top: 50px;
    border: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}