{% load static %}

<link rel='stylesheet' href="{%static 'css/bootstrap.min.css' %}">
<link rel='stylesheet' href="{%static 'css/main.css' %}">

<script>
setTimeout(function() {
    window.location.href = "{% url 'binatang' %}";
}, 4000);
</script>

<body class="bganimated2">
    <div class="container">
        <span class="thanksfont">We Will Never Forget Your Contribution</span><br>
        <span class="thanksfont">Oreo give you his thanks</span><br>
        <img src="{% static 'images/giphy.gif' %}"/>
    </div>
</body>